.toolsHeaderText{
    text-align: center;
    color:rgb(250, 215, 118);
    background-color: white;
    font-size:50px;
    padding-top: 1rem;
    width: auto;
    padding: 1rem;
}
.searchBar{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 10%;
    width: 80%;
    border-radius: 30px;
    padding: 1rem;
    background:rgb(255, 255,255, 0.7);
    align-items: center;
    justify-content: center;

}
.searchBar input{
    background-color: transparent;
    padding: 10px;
    border: 0px;
    outline: none;
    flex: 1;
    width: 90%;
    font-size: 25px;
    color: black;


}
.searchBar img{
    height: 40px;
    width: auto;
    margin-top: 5px;
}
.searchBar button{
  border:0px;
  background-color: transparent;
  float: right;
}

.cardsHolder{
    width: 100%;
    min-width: 400px;
    text-align: center;
}
.toolcards{
  position: relative;
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  width: 270px;
  height: 450px;
  box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
  border-radius: 0rem;
  background-color: rgba(1, 12, 4, 0.7);
  opacity: 1;
  }
  .product-image {
    width: min-content;
    margin:auto;
    transition: transform 300ms ease-in-out;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
    opacity: 1;
  }
  .product-image img {
    height: 230px;
    width:auto;
    opacity: 1;
  }
  .card:hover .product-image {
    transform: translate(0rem, 0rem) rotate(0deg) scale(1.2);
  }
  .product-info {
    text-align: center;
  }
  .product-info h2 {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .product-info p {
    color: white;
    margin: 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .price {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.8rem;
  }
  .buy-btn {
    background-color: rgb(245, 190, 52);
    padding: 0.6rem 3.5rem;
    font-weight: 600;
    font-size: 1rem;
    transition: 300ms ease;
    border-style: none;
    color: white;
  }
  .buy-btn:hover {
    background-color: rgb(245, 170, 52);
    border-style: none;
  }

  .modalPosition{
    left: 50%;
    top:50%;
    margin-left: -500px;
    margin-top: -300px;
  }

  .bookModal{
    width: 1000px; 
    height: 600px;
    left:50%;
    right:50%;
    background-color: white;
  }
  .bookModalLeft{
    width: 40%; 
    height: auto; 
    
    float:left;
    text-align: center;
  }
  .bookModalRight{
    width: 60%; 
    float: right;
  }
  .calendar{
    height:auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .modalHeader{
    color: rgb(245, 190, 52);
    padding: 1rem;
    text-align: center;
  }
  .modalInfo{
    padding: 1rem;
    color:black;
  }
  .boka-btn {
    background-color: rgb(245, 190, 52);
    padding: 0.6rem 3.5rem;
    font-weight: 600;
    font-size: 1rem;
    transition: 300ms ease;
    margin:auto;
    margin-top: 1rem;
    
    color: white;
    font-style: bold;
  }
  .boka-btn:hover {
    background-color: rgb(250, 170, 118);
  }
  .boka-btn-inactive{
    background-color: rgba(140, 140, 140, 0.477);
    padding: 0.6rem 3.5rem;
    font-weight: 600;
    font-size: 1rem;
    transition: 300ms ease;
    margin:auto;
    margin-top: 1rem;
    
    color: white;
    font-style: bold;
  }

table{
  font-family:sans-serif;
		  width:100%;
		  border-spacing: 1rem;
	  	border-collapse: separate;
		  table-layout: fixed;
      border: 0px solid;
      text-align: center;
      
}

td{
  height:1rem;
  width:1rem;
  border: 1px solid;
  border-radius: 70%;
  padding: 5px;
}

.day{
  background-color: rgb(245, 190, 52);
  color: white;
}
.oddRow{
  background-color: rgb(251, 252, 252);
}
.oddRow:hover{
  cursor: pointer;
}
.evenRow{
  background-color: rgb(245, 190, 52, 0.15);
}
.evenRow:hover{
  cursor: pointer;
}
.hour:hover{
  background-color: rgb(137, 231, 137);
}
.oddRowInactive{
  background-color: rgb(251, 252, 252);
}
.oddRowInactive:hover{
  cursor: auto;
}
.evenRowInactive{
  background-color: rgba(140, 140, 140, 0.477);
}
.evenRowInactive:hover{
  cursor: auto;
}
.selected{
  background-color: rgb(0, 255, 0);
}
.booked{
  background-color: red;
}
.booked:hover{
  cursor: auto;
}

#Må0001{
    background-color: brown;
}



.bookModalRightHeader{
  width: 50%;
  height: auto;
  float: left;
}
.bookModalRightSelector{
  width: 50%;
  height: auto;
  float: right;

}

#rightTop{
  height: 8rem;
}




/* Dropdownboxes*/

.dropdowmHeader{
  color: rgb(245, 190, 52);
  padding-left: 1rem;
  text-align: center;
}

.day-select{
  margin-left: 22rem;
  margin-top: 1rem;
}
.day-select select {
  width: 10rem;
  background-color:rgb(250, 215, 118,0.5);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  text-align-last: center;
  text-align: center;
 
  /*Tar bort pilen ner*/
  -moz-appearance: none;
  -webkit-appearance: none;
}
.day-select select:checked{
  background-color:rgb(36, 27, 170);
}


